body {
    margin: 0;
    font-family: "calibri";
    color: rgb(31, 97, 11);
    text-align: center;
  }
  
  #banner {
    background-image: url('pic.jpg'); 
    background-position: 50% 100%;
    background-size: cover;
    font-family: "calibri";
    padding: 20vh 20px;
    text-align: center;
  }
  
  .section {
    align-items: center;
    background-color: #4e9c52;
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
    border: 2px solid rgb(69, 102, 56);
    border-radius: 5px;
    background-color: rgb(142, 190, 102);
  }
  
  .section svg {
    border: 2px solid rgb(69, 165, 93);
    border-radius: 5px;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
  }
  
  #tooltip {
    background: rgb(41, 180, 48);
    border: 1px solid rgb(76, 155, 12);
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
  }
  
  .arrow-highlight{
    position:relative;
    margin:0 0.5em;
    padding:0 0.2em;
  }
  .arrow-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:orange;
    position:absolute;
    width:calc(100% - 0.5em);
    border-left-color:transparent;
  }
  
  .arrow-highlight:after{
    content:"";
    z-index:-1;
    right:0;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:orange;
    position:absolute;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
    transform:rotate(180deg);
    transform-origin:center right;
  }