body {
    margin: 0;
    font-family: "calibri";
    color: rgb(11, 39, 100);
    text-align: center;
  }
  
  #banner {
    background-image: url('pic.jpg');
    background-position: 50% 100%;
    background-size: cover;
    font-family: "calibri";
    padding: 20vh 20px;
    text-align: center;
  }
  
  .section {
    align-items: center;
    background-color: #9fe4e7;
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
    border: 2px solid rgb(230, 94, 16);
    border-radius: 5px;
    background-color: rgb(120, 151, 177);
  }
  
  .section svg {
    border: 2px solid rgb(230, 94, 16);
    border-radius: 5px;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
  }
  
  #tooltip {
    background: rgb(10, 85, 114);
    border: 1px solid rgb(111, 165, 179);
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
  }
  
  
  
  