body {
    margin: 0;
    font-family: "Garamond";
    font-size: 20px; 
    color: rgb(46, 78, 62);
    text-align: center;
  }
  
  h1
{
  font-size: 48px;
  text-shadow: -1px -1px rgb(100, 145, 137), 1px 1px rgb(82, 243, 195), -3px 0 4px #000;
  font-family:"Garamond";
  color:#2e5248;
  padding:24px 32px 32px 32px;
  font-weight:lighter;
  text-align:center;
  display:inline;
  line-height:150px;
}
  h2
{
  text-shadow: -1px -1px rgb(100, 145, 137), 1px 1px rgb(24, 95, 74), -3px 0 4px #000;
  font-family:"Garamond";
  color:rgb(82, 243, 195);
  padding:24px 32px 32px 32px;
  font-weight:lighter;
  text-align:center;
  display:inline;
  line-height:50px;
  }

  .line-path {
    fill: none;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
  }

  #banner {
    background-image: url('water.jpg'); 
    background-position: 50% 100%;
    background-size: cover;
    font-family: "Garamond";
    font-weight: bold;
    font-size: 20px;
    padding: 20vh 20px;
    text-align: center;
  }
  
  .section {
    background-image: url('pic2.svg'); 
    align-items: center;
    display: flex;
    padding: 50px;
    text-align: center;  
  }

  .observations{
    background-image: url('pic2.svg'); 
    align-items: left;
    display: flex;
    padding: 50px;
    text-align: left; 
  }
  .section3 {
    align-items: center;
    background-image: url('pic2.svg'); 
    display: flex;
    padding: 50px;
  }
  
  .section p {
    background-color: #cf9565c5;
    flex: 1;
    border: 2px solid #745338;
    color: rgb(46, 78, 62);
    border-radius: 5px;
  }
  .observations p {
    background-color: #cf9565c5;
    flex: 1;
    border: 2px solid #745338;
    color: rgb(46, 78, 62);
    border-radius: 5px;
  }
  .section3 p {
    background-color: #cf9565c5;
    flex: 1;
    border: 2px solid #745338;
    color: rgb(46, 78, 62);
    border-radius: 5px;
  }
  .section svg {
    border: 2px solid #745338;
    border-radius: 5px;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  .section3 svg {
    border: 2px solid #0f6e4f;
    border-radius: 5px;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section3 {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
    .section3 svg {
      flex: none;
      width: 100%;
    }
  }
  
#tooltip {
    background: #ac7c54;
    border: 1px solid rgb(76, 155, 12);
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
  }
  
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-family: "Garamond";
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #ac7c54; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color:#ac7c54; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .button3 {
    background-color:#ac7c54; 
    color: black; 
    border: 2px solid #0013ba;
  }
  
  .button3:hover {
    background-color: #00465e;
    color: white;
  }
  
