body {
    margin: 0;
    font-family: "Garamond";
    color: rgb(31, 97, 11);
    text-align: center;
  }
  
  h1
{
  font-size: 48px;
  text-shadow: -1px -1px rgb(100, 145, 137), 1px 1px rgb(82, 243, 195), -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:rgb(153, 241, 215);
  padding:24px 32px 32px 32px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:inline;
  line-height:150px;
}
  .line-path {
    fill: none;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
  }

  #banner {
    background-image: url('water.jpg'); 
    background-position: 50% 100%;
    background-size: cover;
    font-family: "calibri";
    padding: 20vh 20px;
    text-align: center;
  }
  
  .section {
    background-image: url('pic2.svg'); 
    align-items: center;
    background-size: cover;
    display: flex;
    padding: 20vh 20px;
    text-align: center;  
  }
  .section3 {
    align-items: center;
    background-color: #537464;
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
    border: 2px solid rgb(69, 102, 56);
    border-radius: 5px;
    background-color: rgb(142, 190, 102);
  }
  .section3 p {
    flex: 1;
    border: 2px solid rgb(69, 102, 56);
    border-radius: 5px;
    background-color: rgb(142, 190, 102);
  }
  
  .section svg {
    border: 2px solid #ac7c54;
    border-radius: 5px;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  .section3 svg {
    border: 2px solid #ac7c54;
    border-radius: 5px;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section3 {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
    .section3 svg {
      flex: none;
      width: 100%;
    }
  }
  
  #tooltip {
    background: rgb(41, 180, 48);
    border: 1px solid rgb(76, 155, 12);
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
  }
  
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #ac7c54; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color:#ac7c54; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .button3 {
    background-color:#ac7c54; 
    color: black; 
    border: 2px solid #0013ba;
  }
  
  .button3:hover {
    background-color: #00465e;
    color: white;
  }
  
